<div class="wrap">

<div id="tinderslide">
  <ul>
    <%= render @users %>
  </ul>
</div> 


<div class="actions">
    <a href="#" class="dislike"><i class="fa fa-times"></i></a>
    <a href="#" class="like"><i class="fa fa-heart"></i></a>
</div>

</div>
</div>
</div>
</div>


