<div class="bg-dark"></div>

<div class="home-information">
    <h1 class="slogan">Any Swipe Can Change Your Life</h1>
       <%= link_to "auth/facebook", class: "btn btn-social btn-lg btn-facebook" do %>
      <i class="fa fa-facebook"></i> Sign in with Facebook
    </a>
    <% end %>

    <br /><br />
</div>


<script type="text/javascript">

jQuery(function(s) {
  s.supersized({
    slide_interval : 4000,
    transition     : 1,
    transition_speed : 700,
    slide_links      : 'blank',

    slides            : [

        {image : 'assets/landscape.jpg'},
        {image : 'assets/mac.jpg'},
        {image : 'assets/macbook-mouse.jpg'},

    ]

  });


});

</script>

